@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=auto");
@import "tailwindcss";

@theme {
  --font-noto-sans: "Noto Sans", sans-serif; 

  --background-image-github: url(/assets/images/github.svg); 
  --background-size-github: 28px 28px; 

  --background-image-twitter: url(/assets/images/twitter.svg);
  --background-size-twitter: 28px 28px;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility bg-* {
  background-size: --value(--background-size-*)
}

.content-block p{
  @apply mb-2;
}

.content-block p:last-child{
  @apply mb-0;
}

.content-block ul{
  @apply list-disc list-inside ml-4 my-4;
}

